<% include partials/header.ejs %>

   

    <% if(title == "Aboutme"){  %>

        <div class = "containter3">
            <div class = "box2 box1">
                <img src="https://i.ibb.co/pPYkHzj/Whats-App-Image-2022-09-14-at-10-12-12-PM.jpg" alt="self" height="700px" class="center">
            </div>    
    
            <div class="box2 box2 addtion">
                <h1 class="bg-primary">About Me</h1>
                &nbsp;
                &nbsp;
                <h3>My Name: Yi Chen</h3>
                
                <h3>My English name is Eddie. I was an electrician before, but I change my career, because of my body condition. 
                    There are two reasons that I enrolled this program. Firstly, software engineer is an office job, 
                    so I do not need to any labour. Secondly, programmer can have a good salary. </h3> 
                  
                    &nbsp;
                    &nbsp;
                    &nbsp;
                &nbsp;
                <p>Open a PDF file of <a href="https://www.docdroid.net/qCGKZGi/vienna-modern-resume-template-pdf">Resume</a>.</p>
            </div>
        </div>
        <% } %>

    <% include partials/footer.ejs %>