<% include partials/header2.ejs %>

   

    <% if(title == "Services"){  %>

        <div class ="containner">
            <div class = "box2">
            <img src="https://i.ibb.co/2MGbhWR/maps.jpg" alt="maps" height="400px" width="600px" class = "center">
    
            <img src="https://i.ibb.co/WPsW3HD/weather.png" alt="weather" height="400px" width="600px" class = "center">
    
            <img src="https://i.ibb.co/G5hRp4C/Whats-App-Image-2022-09-14-at-10-31-30-PM.jpg" alt="Pizza" height="400px" width="600px" class = "center">
           
            </div>
            <div>
                <h1>Services</h1>
                <h3>
                    In my second semester, I had a project about locating current location. When I open the webside, it will ask me the premission
                    to get my location, and I can search the address in the website. Also I would need to show a picture of the address below in the 
                    maps </h3>
                    
                <h3>In my JaveScript class, I had a project about weather forcast. When I open the webside, it will ask the user for premission
                    of current location. If the user give the premission then load the his location in the maps. Also the user can type the address
                    in the webside to find the location he want.</h3>
    
                <h3>In programing 2, I did a Pizza order application. You can choose the toppings, the size of the pizza, making the random order Id, 
                    and asking user to type their name, address, and phone number. </h3>
            </div>
        </div>

        <% } %>

    <% include partials/footer.ejs %>