<% include partials/header2.ejs %>

   

    <% if(title == "Services"){  %>

        <div class ="containner">
            <div class = "box2">
            <img src="https://i.ibb.co/HLSzbz6/java.jpg" alt="maps" height="330px" width="500px" class = "center">
    
            <img src="https://i.ibb.co/GnH2Q4p/Python.webp" alt="weather" height="330px" width="500px" class = "center">
    
            <img src="https://i.ibb.co/556y3ND/Web-Developer.jpg" alt="Pizza" height="330px" width="500px" class = "center">
           
            </div>
            <div>
                <h1>Our Services</h1>
                <h3>
                    Java programming</h3>
                    
                <h3>Python programming</h3>
    
                <h3>Web-Developer</h3>
            </div>
        </div>

        <% } %>

    <% include partials/footer.ejs %>